
<body>
    <div class="container">
        <h2>Add provider</h2>
        <div>
            <a asp-controller="Provider" asp-action="CreateProviderType">Add provider type</a>
            <br />
            <select id="provider_Id" class="form-select" aria-label="Default select example">
                <option value="0" selected>Select provider type</option>
                @foreach (var providerType in ViewBag.ProviderTypes.Data)
                {
                    <option value="@providerType.Id">@providerType.Name</option>
                }
            </select>
            <span id="valid_provider"></span>
        </div>
        <br />
        <div>
            <a asp-controller="Group" asp-action="CreateGroup">Add group</a>
            <br />
            <select id="group_id" class="form-select" aria-label="Default select example">
                <option selected>Select group</option>
                @foreach (var group in ViewBag.Groups.Data)
                {
                    <option value="@group.Id">@group.Name</option>
                }
            </select>
        </div>
        <br />
        <div class="form-group">
            <label for="provider_name">Name:</label>
            <input type="text" class="form-control" id="provider_name" placeholder="Provider name" name="provider_name">
        </div>
        <button onclick="addProvider()" type="submit" class="btn btn-default btn-primary">Add</button>
    </div>
</body>
<script src="~/js/provider.js"></script>